.mainer{
    margin: 0 auto;
    min-width: 1200px;
    padding: 0 40px;
    }

    .content{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0 50px;

        &__picture, 
        &__block{
            width: 100%;
            flex-grow: 1;
        }


        &__line{
            height: 560px;
            width: 3px;
            background-color: $color-yellow;
            margin: 0 auto;
        }
        }

    *{
        box-sizing: border-box;
    }
    